{% if docker_odoo_virtual_host is defined and docker_odoo_virtual_host %}
VIRTUAL_HOST={{ docker_odoo_virtual_host }}
{% else %}
{% if docker_odoo_hostname is defined and docker_odoo_hostname %}
VIRTUAL_HOST={{ docker_odoo_hostname }}
{% else %}
VIRTUAL_HOST={{ docker_odoo_profile }}.{{ docker_odoo_base_domain }}
{% endif %}
{% endif %}

VIRTUAL_PORT={{ docker_odoo_virtual_port }}
CERT_NAME={{ docker_odoo_cert_name }}
PGUSER={{ docker_odoo_postgresql_user }}
PGPASSWORD={{ docker_odoo_postgresql_password }}
